.woocommerce.single-product {
	#reviews {
		#comments {
			.commentlist {
				margin: 0 0 46px;
				padding: 0;
				
				.comment {
					@extend %clearfix;
					margin: 0 0 32px;
					border-bottom: 1px solid #ededed;
					padding-bottom: 28px;
					&:last-child {
						margin: 0;
					}
				}
				
				.avatar {
					padding: 0;
					width: 70px;
					border: 0;
					border-radius: 50%;
					float: none;
					position: static;
				}
				
				.meta {
					margin-bottom: 15px;
				}
				
				.comment-author {
					float: left;
				}
				
				.star-rating {
					position: absolute;
					top: 0;
					right: 0;
				}
				
				.description {
					p:last-child {
						margin-bottom: 0;
					}
				}
				
				.fn {
					a {
						font-style: normal;
						font-size: 18px;
					}
				}
				
				.woocommerce-review__verified {
					display: block;
				}
			}
		}
		
		#comment {
			height: 150px;
		}
	}
	
	.comment-content {
		margin-left: 100px;
	}
	
	.comment-actions {
		margin-top: 20px;
		
		a {
			margin-right: 20px;
			font-weight: 700;
			font-size: 16px;
			line-height: 1.2;
			letter-spacing: 1px;
		}
		
		span {
			font-size: 18px;
			font-weight: 500;
			opacity: .7;
			margin-right: 12px;
		}
	}
	
	.woocommerce-Reviews-title {
		display: none;
	}
	
	.comment-reply-title {
		display: block;
		margin-bottom: 48px;
		text-align: center;
		font-size: 24px;
		line-height: 1.5;
	}
	
	.comment-form {
		input[type="text"],
		input[type="email"] {
			width: 100%;
		}
		
		.comment-form-comment {
			margin: 0 0 30px;
		}
		
		.comment-form-author,
		.comment-form-email {
			margin: 0 0 20px;
		}
		
		.submit {
			min-width: 144px;
		}
	}
	
	#review_form {
		#respond {
			.comment-form-author,
			.comment-form-email,
			.comment-form-comment {
				margin: 0 0 30px;
			}
			
			.comment-notes {
				margin-bottom: 30px;
			}
			
			.form-submit {
				text-align: center;
				margin: 0;
			}
		}
	}
	
	.stars {
		display: inline-block;
		margin: 0 0 0 22px !important;
		a {
			font-size: 18px;
			color: #efc71f;
		}
	}
}

.woocommerce-review__author {
	display: inline-block;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.16;
}

.woocommerce-review__published-date {
	position: relative;
	padding-left: 22px;
	font-size: 14px;
	font-style: italic;
	
	&:before {
		content: '';
		width: 3px;
		height: 3px;
		background: currentColor;
		position: absolute;
		border-radius: 50%;
		top: 6px;
		left: 8px;
	}
}

.woocommerce-noreviews {
	text-align: center;
}

.comment-form-rating {
	line-height: 1;
	margin-bottom: 44px;
	label {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
}

@include media-breakpoint-down(sm) {
	.woocommerce.single-product {
		#reviews {
			#comments {
				.commentlist {
					.star-rating {
						position: relative;
						margin-top: 20px;
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(xs) {
	.woocommerce-review__published-date {
		display: block;
		padding-left: 0;
		margin-top: 10px;
		
		&:before {
			display: none;
		}
	}
}
