.yith-compare-btn {
	a {
		div {
			display: none !important;
		}
	}
}

.single-product .woo-single-info {
	.yith-compare-btn {
		float: left;
		margin-left: 10px;
		a {
			position: relative;
			display: block;
			width: 48px;
			height: 48px;
			line-height: 48px;
			border-radius: 5px;
			color: #ababab;
			font-size: 0 !important;
			padding: 0 !important;
			border: 1px solid #ededed;
			text-align: center;
			
			&:hover {
				color: #ffffff;
			}
			
			&:before {
				content: '\f4a8';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 20px;
				font-weight: 500;
				font-family: Ionicons;
				speak: none;
				font-style: normal;
				font-variant: normal;
				text-transform: none;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}
	
	.yith-compare-btn {
		&.loading {
			animation: load-spin 1.5s linear infinite !important;
			&:before {
				content: '\f459';
			}
		}
	}
}

.compare-popup-opened {
	overflow: hidden !important;
}

#cboxMiddleLeft,
#cboxMiddleRight,
#cboxTopLeft,
#cboxTopCenter,
#cboxTopRight,
#cboxBottomLeft,
#cboxBottomCenter,
#cboxBottomRight {
	display: none;
}

#cboxClose {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	width: auto;
	height: auto;
	bottom: -35px;
	text-indent: 0;
	color: #ffffff;
	background: 0 0;
	
	&:before {
		font-family: 'Ionicons';
		content: '\f12a';
		font-size: 20px;
		display: inline-block;
		vertical-align: middle;
		line-height: 0;
		margin-right: 5px;
	}
}

table.compare-list {
	th {
		padding: 25px 15px;
		font-weight: 600;
		border-bottom: none;
		font-size: 18px;
	}
}
