.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-title,
.comment-reply-title {
	margin-bottom: 25px;
	font-size: 24px;
	line-height: 1.6;
}

.comment-form-wrapper {
	@extend %clearfix;
	margin: 0 -15px;
	
	.left-form,
	.right-form {
		float: left;
		padding: 0 15px;
	}
	
	.left-form {
		width: 300px;
	}
	
	.right-form {
		width: calc(100% - 300px);
	}
	
	.logged-in & {
		.right-form {
			width: 100%;
		}
	}
}

.comments-area {
	margin-top: 62px;
}

.comments-title {
	margin-bottom: 32px;
}

.comment-list {
	margin: 0;
	padding: 0;
	
	.comment {
		@extend %clearfix;
		margin-bottom: 35px;
		list-style-type: none;
		
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
	}
	
	> .comment {
		margin-bottom: 40px;
		padding-bottom: 60px;
		border-bottom: 1px solid #ededed;
	}
	
	.pingback {
		@extend %clearfix;
		margin-bottom: 35px;
		list-style-type: none;
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
		
		.comment-content {
			margin-left: 0;
		}
	}
	
	.children {
		margin-top: 48px;
		margin-left: 82px;
		border-left: 3px solid #ededed;
		padding-left: 16px;
	}
	
	.comment-header {
		margin-bottom: 13px;
	}
	
	.comment-author {
		float: left;
		img {
			border-radius: 50%;
		}
	}
	
	.comment-content {
		position: relative;
		overflow: hidden;
		margin-left: 100px;
		font-size: 16px;
	}
	
	.fn {
		font-weight: 700;
		font-size: 18px;
		display: inline-block;
		line-height: 1;
		a {
			font-style: inherit;
			font-size: inherit;
		}
	}
	
	.comment-datetime {
		position: relative;
		top: -1px;
		padding-left: 20px;
		font-size: 14px;
		font-style: italic;
		display: inline-block;
		line-height: 1;
		
		&:before {
			position: absolute;
			top: 50%;
			left: 8px;
			transform: translate(0, -50%);
			content: '';
			width: 3px;
			height: 3px;
			background: #d8d8d8;
			border-radius: 50%;
		}
	}
	
	.comment-actions {
		margin-top: 18px;
		
		a {
			margin-right: 20px;
			font-weight: 700;
			font-size: 16px;
			line-height: 1.2;
			letter-spacing: 1px;
		}
		
		span {
			font-size: 18px;
			font-weight: 500;
			opacity: .7;
			margin-right: 12px;
		}
	}
	
	.comment-text {
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	.comment-awaiting-messages {
		display: block;
	}
	
	.comment-respond {
		margin-top: 30px;
	}
}

.comment-form-wrap {
	margin-top: 67px;
}

.comment-form {
	textarea {
		height: 174px;
	}
	
	input[type="text"],
	input[type="email"] {
		width: 100%;
	}
	
	.comment-form-author,
	.comment-form-email,
	.comment-form-url,
	.comment-form-comment {
		margin: 0 0 15px;
	}
	
	p.form-submit {
		margin: 15px 0 0;
	}
}

@include media-breakpoint-down(lg) {
	.comment-list {
		.vcard {
			img {
				width: 50px;
			}
		}
		
		.children,
		.children .children {
			padding-left: 20px;
		}
		
		.comment-content {
			margin-left: 80px;
		}
		
		.comment-datetime {
			position: static;
		}
	}
}

@include media-breakpoint-down(sm) {
	.comment-list {
		.comment {
			margin-bottom: 30px;
			padding-bottom: 30px;
		}
		
		.children {
			margin-top: 30px;
			padding-top: 30px;
		}
		
		.children,
		.children .children {
			padding-left: 20px;
		}
	}
}

@include media-breakpoint-down(md) {
	.comment-form-wrapper {
		.left-form,
		.right-form {
			float: none;
			width: 100%;
		}
	}
}
