.embed-responsive,
.video-player {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.embed-responsive-16by9,
.video-player {
	padding-bottom: 56.25%;
}

.instagram-media {
	max-width: 100% !important;
}

.left-text {
	text-align: left !important;
}

.center-text {
	text-align: center !important;
}

.right-text {
	text-align: right !important;
}

.font-weight-100 {
	font-weight: 100 !important;
}

.font-weight-200 {
	font-weight: 200 !important;
}

.font-weight-300 {
	font-weight: 300 !important;
}

.font-weight-400 {
	font-weight: 400 !important;
}

.font-weight-500 {
	font-weight: 500 !important;
}

.font-weight-600 {
	font-weight: 600 !important;
}

.font-weight-700 {
	font-weight: 700 !important;
}

.font-weight-800 {
	font-weight: 800 !important;
}

.font-weight-900 {
	font-weight: 900 !important;
}

.line-height-0 {
	line-height: 0 !important;
}

.font-size-inherit {
	font-size: inherit !important;
}

.zindex2 {
	z-index: 2 !important;
}
