.fall-down-effect {
	
	&:hover {
		&:before {
			transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
			opacity: 1;
		}
	}
	
	&:before {
		@extend %transit2;
		content: attr(data-hover);
		position: absolute;
		opacity: 0;
		transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
		pointer-events: none;
	}
}
