// Overwrite from VC.
.vc_separator .vc_sep_holder .vc_sep_line.vc_sep_line {
	border-top-color: #dddddd;
}

.vc_col-has-fill > .vc_column-inner, .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner, .vc_section.vc_section-has-fill, .vc_section.vc_section-has-fill + .vc_row-full-width + .vc_section, .vc_section.vc_section-has-fill + .vc_section {
	padding-top: 0 !important;
}

.wpb_wrapper {
	.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li {
		margin-bottom: 0;
	}
}

.wpb-js-composer.wpb-js-composer .vc_tta-container {
	margin-bottom: 0;
}

.compose-mode {
	.tm-animation {
		opacity: 1;
	}
	
	.tm-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		
		.grid-sizer {
			display: none;
		}
		
		&.has-animation {
			.grid-item {
				opacity: 1;
			}
		}
	}
}
