::-webkit-input-placeholder {
	color: #ababab;
	opacity: 1;
	-webkit-transition: opacity .3s !important;
	transition: opacity .3s !important;
}

:-moz-placeholder { /* Firefox 18- */
	color: #ababab;
	opacity: 1;
	-moz-transition: opacity .3s !important;
	transition: opacity .3s !important;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #ababab;
	opacity: 1;
	-moz-transition: opacity .3s !important;
	transition: opacity .3s !important;
}

:-ms-input-placeholder {
	color: #ababab;
	opacity: 1;
	-ms-transition: opacity .3s !important;
	transition: opacity .3s !important;
}

/* IE 10+ */
*:focus::-webkit-input-placeholder {
	opacity: 0;
}

*:focus:-moz-placeholder {
	opacity: 0;
}

/* FF 4-18 */
*:focus::-moz-placeholder {
	opacity: 0;
}

/* FF 19+ */
*:focus:-ms-input-placeholder {
	opacity: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	@extend %transit;
	width: 100%;
	outline: none;
	border: 1px solid #efefef;
	border-radius: 5px;
	color: #878c9b;
	background: #f8f8f8;
	padding: 3px 20px;
	height: 48px;
	
	&:focus {
		background-color: #ffffff;
		color: #454545;
	}
}

select {
	@extend %transit;
	padding: 3px 20px;
	height: 48px;
	max-width: 100%;
	width: 100%;
	outline: none;
	border: 1px solid #efefef;
	border-radius: 5px;
	color: #878c9b;
	background: #f8f8f8 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAABGdBTUEAALGPC/xhBQAAADdJREFUCB1jvHnzZsP////rGbAARkbGRkaQODZFIEl1dfUGuD6Qohs3bvwHYRAbLoHMAEmgSwIAG3IiSKCM+2YAAAAASUVORK5CYII=') no-repeat calc(100% - 10px) center;
	-moz-appearance: none;
	-webkit-appearance: none;
	&:focus {
		background-color: #ffffff;
		color: #454545;
	}
}

textarea {
	@extend %transit;
	width: 100%;
	outline: none;
	border: 1px solid #efefef;
	border-radius: 5px;
	color: #878c9b;
	background: #f8f8f8;
	display: block;
	padding: 12px 20px 3px;
	max-width: 100%;
	
	&:focus {
		background-color: #ffffff;
		color: #454545;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
select:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;
}
