.vc_ui-panel-content {
	margin-top: 0 !important;
}

.col-break {
	&:not(.vc_dependent-hidden) {
		+ .vc_dependent-hidden:not(.vc_col-sm-12) {
			display: block !important;
			visibility: hidden;
		}
	}
}

.vc_column-no-padding {
	padding-top: 0 !important;
}

.xdsoft_datetimepicker {
	z-index: 99999 !important;
}
