.header-20 {
	
	.page-header-inner {
		padding: 15px 0;
	}
	
	.header-wrap {
		display: flex;
	}
	
	.header-left {
		flex-grow: 1;
	}
	
	.header-right {
		flex-shrink: 0;
	}
	
	.menu--primary {
		.desktop-menu & {
			position: static;
			text-align: left;
		}
	}
	
	.heading {
		font-size: 24px;
		margin-bottom: 14px;
		
		mark {
			font-weight: 700;
		}
	}
	
	.desktop-menu & {
		.page-header-inner {
			padding: 28px 0;
		}
		
		.tm-mailchimp-form {
			width: 470px;
		}
	}
	
	.mobile-menu & {
		.header-left {
			display: flex;
			align-items: center;
		}
	}
}

@include media-breakpoint-down(sm) {
	.header-20 {
		.mailchimp-form {
			display: none;
		}
	}
}
