.header-08 {
	.header-wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	
	.branding {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.header-right-wrap,
	.page-navigation {
		width: 50%;
	}
	
	.desktop-menu & {
		.menu--primary {
			position: static;
			text-align: left;
		}
	}
	
	.header-right-wrap {
		display: flex;
		justify-self: flex-end;
		justify-content: flex-end;
	}
	
	.mobile-menu & {
		.branding {
			position: static;
			transform: none;
			flex-grow: 1;
		}
	}
	
	.page-open-mobile-menu {
		.inner {
			width: 48px;
			height: 48px;
			background: #f8f8f8;
			border-radius: 50%;
		}
	}
	
	.mini-cart {
		.mini-cart-icon {
			width: 48px;
			height: 48px;
			background: #f8f8f8;
			border-radius: 50%;
			
			&:before {
				left: 50%;
				transform: translate(-50%, -50%);
			}
			
			&:after {
				min-width: 20px;
				height: 20px;
				top: 0;
				right: -7px;
				line-height: 20px;
				font-size: 12px;
				font-weight: 700;
				letter-spacing: .75px;
				padding: 0 5px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.popup-search-wrap {
		.search-form {
			display: none;
		}
	}
}

@include media-breakpoint-up(xl) {
	.header-08 {
		.popup-search-wrap .search-form {
			width: 210px;
		}
		
		.col-xs-12 {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
}

@media (min-width: 1420px) {
	.header-08 {
		.col-xs-12 {
			padding-left: 100px;
			padding-right: 100px;
		}
	}
}

@media (min-width: 1500px) {
	.header-08 {
		.popup-search-wrap {
			.search-form {
				width: 370px;
			}
		}
	}
}
