.header-14 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	
	.admin-bar & {
		top: 32px;
		
		.header-fixed-section {
			top: 132px;
		}
	}
	
	.header-wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	
	.header-fixed-section {
		position: fixed;
		top: 100px;
		left: 0;
		z-index: 1;
		width: 100px;
		height: 100%;
		
		&.left {
			.inner {
				position: absolute;
				bottom: 50%;
				left: 50%;
				transform: rotate(-90deg) translate(-50%, 0);
				transform-origin: 0 50%;
				white-space: nowrap;
			}
		}
		
		&.right {
			left: auto;
			right: 0;
			
			.inner {
				position: absolute;
				bottom: 50%;
				left: 50%;
				transform: rotate(-90deg) translate(-50%, 0);
				transform-origin: 0 50%;
				white-space: nowrap;
			}
		}
	}
	
	+ .page-content {
		margin-top: 100px;
	}
	
	.header-social-networks {
		a {
			font-size: 18px;
			font-weight: 700;
			display: inline-block;
		}
	}
	
	.page-open-main-menu-title {
		margin-right: 18px;
	}
	
	.page-open-main-menu {
		cursor: pointer;
		
		div {
			width: 16px;
			height: 12px;
			
			i {
				&:before {
					top: -6px;
				}
				
				&:after {
					top: 6px;
				}
			}
		}
	}
	
	.desktop-menu & {
		.header-right {
			display: none;
		}
	}
	
	.mobile-menu & {
		.branding {
			flex-grow: 1;
		}
	}
}
