.header-07 {
	.header-wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	
	.branding,
	.header-right {
		flex-shrink: 0;
	}
	
	.page-navigation {
		flex-grow: 1;
	}
	
	.desktop-menu & {
		.menu--primary {
			position: static;
			text-align: left;
		}
	}
	
	.header-right {
		justify-self: flex-end;
	}
	
	.mobile-menu & {
		.branding {
			flex-grow: 1;
		}
	}
	
	.mini-cart {
		.mini-cart-icon {
			width: 48px;
			height: 48px;
			background: #f8f8f8;
			border-radius: 50%;
			font-size: 18px;
			
			&:before {
				left: 50%;
				transform: translate(-50%, -50%);
			}
			
			&:after {
				min-width: 20px;
				height: 20px;
				top: 0;
				right: -7px;
				line-height: 20px;
				font-size: 12px;
				font-weight: 700;
				letter-spacing: .75px;
			}
		}
	}
	
	.page-open-mobile-menu {
		.inner {
			width: 48px;
			height: 48px;
			background: #f8f8f8;
			border-radius: 50%;
			position: relative;
		}
		
		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

@include media-breakpoint-down(sm) {
	.popup-search-wrap {
		.search-form {
			display: none;
		}
	}
}

@include media-breakpoint-up(xl) {
	.header-07 {
		.popup-search-wrap .search-form {
			width: 210px;
		}
		
		.col-xs-12 {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
}

@media (min-width: 1420px) {
	.header-07 {
		.col-xs-12 {
			padding-left: 100px;
			padding-right: 100px;
		}
	}
}

@media (min-width: 1500px) {
	.header-07 {
		.popup-search-wrap {
			.search-form {
				width: 370px;
			}
		}
	}
}
