.page-title-bar {
	position: relative;
}

.page-title-bar-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.page-title-bar-inner {
	border-bottom: 1px solid transparent;
}

.page-title-bar-01 {
	.page-breadcrumb {
		position: absolute;
		bottom: 25px;
		width: 100%;
	}

	.page-title-bar-inner {
		text-align: center;
	}
}

.insight_core_breadcrumb {
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		+ li {
			position: relative;
			padding-left: 30px;
			&:before {
				content: '/';
				position: absolute;
				top: 0;
				left: 10px;
			}
		}
	}
}
