.top-bar-01 {
	.top-bar-button {
		white-space: nowrap;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		padding: 16px 21px;
		letter-spacing: 1px;
		color: #ffffff !important;
		line-height: 1.18;
		margin-left: 25px;
	}
}

@include media-breakpoint-up(xl) {
	.top-bar-01 {
		.container-fluid {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
}

@media (min-width: 1420px) {
	.top-bar-01 {
		.container-fluid {
			padding-left: 100px;
			padding-right: 100px;
		}
	}
}

@include media-breakpoint-down(md) {
	.top-bar-01 {
		
		display: none;
	}
}
