.tm-client {
	
	.image {
		transition: all .6s;
	}
	
	.image-hover {
		transition: all .6s;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transform: scale(0.8);
	}
	
	.has-image-hover {
		position: relative;
		&:hover {
			.image {
				visibility: hidden;
			}
			
			.image-hover {
				opacity: 1;
				visibility: visible;
				transform: none;
			}
		}
	}
	
	&.style-2-rows {
		[data-swiper-row="0"] {
			margin-bottom: 70px;
		}
	}
}
