.tm-slider-vertical {
	
	.swiper-container {
		max-height: 660px;
	}
	
	.swiper-slide-content {
		text-align: center;
	}
	
	.image-wrap {
		position: relative;
		display: inline-block;
		
		&:before,
		&:after {
			position: absolute;
			content: '';
			border-radius: 10px;
		}
		
		&:before {
			background: #e9f5ff;
			bottom: -20px;
			left: 42px;
			right: 42px;
			height: 100%;
		}
		
		&:after {
			background: #bae0ff;
			bottom: -10px;
			left: 25px;
			right: 25px;
			height: 100%;
		}
	}
	
	.image {
		position: relative;
		z-index: 3;
		
		img {
			border-radius: 10px;
			box-shadow: 0 0 20px rgba(0, 0, 0, .06);
		}
	}
}
