.pricing-wrap {
	display: flex;
	align-items: flex-start;
	.tm-pricing {
		flex: 1 1 auto;
	}
}

.tm-pricing-group {
	
	box-shadow: 0 14px 29px rgba(0, 0, 0, .06);
	background: #ffffff;
	border-radius: 10px;
	overflow: hidden;
	
	.tm-pricing.style-2 {
		margin: 0;
		.inner {
			border-radius: 0;
			box-shadow: none;
		}
		
		+ .tm-pricing {
			border-left: 2px solid #f3f3f3;
		}
	}
}

.tm-pricing {
	z-index: 2;
	
	&.style-1 {
		margin-bottom: 30px;
		
		.inner {
			@extend %transit2;
			position: relative;
			margin: 0 auto;
			padding: 37px 30px 51px;
			border-radius: 5px;
			background-color: #fcfcfc;
			box-shadow: 0 0 57px rgba(0, 0, 0, .08);
			text-align: center;
			
			&:hover {
				transform: translateY(-10px);
				box-shadow: 0 0 57px rgba(0, 0, 0, .17);
			}
		}
		
		&.tm-pricing-featured {
			.inner {
				background: #ffffff;
				padding: 52px 30px 58px;
			}
		}
		
		.tm-pricing-header {
			margin-bottom: 42px;
		}
		
		.price-wrap-inner {
			display: flex;
			align-items: flex-end;
			justify-content: center;
		}
		
		.currency {
			font-size: 18px;
			font-weight: 700;
			color: inherit;
		}
		
		.price {
			font-size: 64px;
			font-weight: 700;
			line-height: .7;
			margin-left: 4px;
			margin-right: 4px;
		}
		
		.period {
			font-size: 14px;
			color: inherit;
		}
		
		.image {
			margin-bottom: 30px;
		}
		
		.title {
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 3.11px;
			text-transform: uppercase;
			margin-bottom: 57px;
		}
		
		.description {
			font-size: 13px;
		}
		
		.tm-pricing-list {
			margin: 0;
			padding: 0;
			li {
				position: relative;
				display: block;
				padding: 16px 0;
				list-style-type: none;
				i {
					font-size: 16px;
					margin-right: 5px;
				}
				
				+ li {
					border-top: 1px solid #f3f3f3;
				}
				
			}
		}
		
		.tm-pricing-footer {
			padding-top: 30px;
		}
		
		.tm-pricing-button {
			min-width: 180px;
			max-width: 100%;
		}
	}
	
	&.style-2 {
		margin-bottom: 30px;
		
		.inner {
			@extend %transit2;
			position: relative;
			margin: 0 auto;
			padding: 54px 0 0;
			border-radius: 5px;
			background-color: #ffffff;
			box-shadow: 0 0 57px rgba(0, 0, 0, .08);
			text-align: center;
		}
		
		.tm-pricing-header {
			margin-bottom: 42px;
		}
		
		.icon {
			font-size: 80px;
			background: #f7fbfe;
			border-radius: 50%;
			width: 120px;
			height: 120px;
			margin: 0 auto 30px;
			
			span {
				vertical-align: text-bottom;
			}
		}
		
		.price-wrap-inner {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			margin-bottom: 71px;
		}
		
		.currency {
			font-size: 18px;
			font-weight: 700;
			color: inherit;
		}
		
		.price {
			font-size: 64px;
			font-weight: 700;
			line-height: .7;
			margin-left: 4px;
			margin-right: 4px;
		}
		
		.period {
			font-size: 14px;
			color: inherit;
		}
		
		.image {
			margin-bottom: 30px;
		}
		
		.title {
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 3px;
			text-transform: uppercase;
			margin-bottom: 35px;
		}
		
		.description {
			font-size: 13px;
		}
		
		.tm-pricing-content {
			padding: 0 30px;
		}
		
		.tm-pricing-list {
			margin: 0;
			padding: 0;
			li {
				position: relative;
				display: block;
				padding: 16px 0;
				list-style-type: none;
				i {
					font-size: 16px;
					margin-right: 5px;
				}
				
				+ li {
					border-top: 1px solid #f3f3f3;
				}
				
			}
		}
		
		.tm-pricing-footer {
			padding-top: 42px;
		}
		
		.tm-pricing-button {
			min-width: 180px;
			max-width: 100%;
			width: 100%;
			border-radius: 0;
			height: 56px;
			line-height: 54px;
		}
	}
}

@include media-breakpoint-down(md) {
	.pricing-wrap {
		flex-wrap: wrap;
		.tm-pricing {
			width: 100%;
			max-width: 100%;
		}
	}
}
