.tm-view-demo {
	.item-wrap {
		position: relative;
		transition: all .5s;
		
		&:hover {
			box-shadow: 0 0 49px rgba(0, 0, 0, .17);
			transform: translateY(-10px);
			
			.overlay {
				visibility: visible;
				opacity: .9;
			}
			
			.overlay-content {
				visibility: visible;
				opacity: 1;
				transition: .5s ease-out .3s;
				transform: translateY(0);
			}
			
			.heading {
				color: #ffffff;
			}
		}
	}
	
	.hide-title {
		.heading {
			display: none;
		}
	}
	
	.info {
		position: absolute;
		top: 0;
		left: 0;
		padding: 46px 30px 30px 52px;
	}
	
	.heading {
		font-size: 28px;
		line-height: 1.17;
		color: #9b9b9b;
		
		a {
			color: inherit;
		}
	}
	
	.thumbnail {
		position: relative;
		overflow: hidden;
		
		img {
			width: 100%;
		}
	}
	
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity .3s;
	}
	
	.overlay-content {
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		opacity: 0;
		transform: translateY(-20px);
	}
	
	.overlay-content-inner {
		display: table;
		width: 100%;
		height: 100%;
	}
	
	.overlay-content-wrap {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	
	.tm-button.tm-button-view-demo {
		&:hover {
			color: #ffffff;
		}
	}
	
	.new {
		border-radius: 50%;
		position: absolute;
		top: 35px;
		right: 25px;
		width: 90px;
		height: 90px;
		line-height: 90px;
		text-align: center;
		background: #e94040;
		color: #ffffff;
		font-weight: 600;
		font-size: 16px;
		z-index: 999;
		text-transform: uppercase;
	}
	
	.hot {
		position: absolute;
		top: 25px;
		right: 15px;
		z-index: 999;
	}
}
