.tm-categories {
	&.style-grid {
		text-align: center;
		
		.cat-wrapper {
			margin-bottom: 26px;
		}
		
		.cat-thumbnail {
			margin-bottom: 18px;
			
			img {
				border-radius: 8px;
			}
		}
		
		.cat-title {
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 3px;
			font-size: 15px;
			line-height: 1.3;
		}
	}
}
