.tm-team-member {
	position: relative;
	
	&.style-1 {
		@extend %transit2;
		padding: 30px;
		text-align: center;
		overflow: hidden;
		margin-bottom: 30px;
		
		&:hover {
			background: #ffffff;
			box-shadow: 0 2px 47px rgba(0, 0, 0, .06);
			transform: translateY(-10px);
			border-radius: 5px;
			
			.position {
				visibility: hidden;
				opacity: 0;
			}
			
			.social-networks {
				height: auto;
				visibility: visible;
				opacity: 1;
				transform: translate(-50%, 0);
			}
		}
		
		&.effect-grayscale {
			.photo {
				img {
					@extend %transit2;
					filter: grayscale(100%);
				}
			}
			
			&:hover {
				.photo {
					img {
						filter: none;
					}
				}
			}
		}
		
		.photo {
			margin-bottom: 22px;
			img {
				border-radius: 50%;
			}
		}
		
		.social-footer {
			position: relative;
		}
		
		.social-networks {
			@extend %transit2;
			opacity: 0;
			visibility: hidden;
			height: 0;
			margin: 0 -8px;
			transform: translate(-50%, 15px);
			position: absolute;
			top: 0;
			left: 50%;
			
			a {
				@extend %transit2;
				display: inline-block;
				padding: 5px 8px;
				font-size: 16px;
				line-height: 1;
				color: #cccccc;
			}
		}
		
		.name {
			font-size: 18px;
			font-weight: 700;
			line-height: 1.16;
			margin-bottom: 11px;
		}
		
		.position {
			@extend %transit2;
			font-size: 14px;
			font-style: italic;
		}
		
		.description {
			margin-top: 10px;
		}
	}
	
	&.style-2 {
		text-align: center;
		
		.info {
			margin-top: 41px;
		}
		
		.name {
			font-size: 24px;
			font-weight: 700;
			line-height: 1.16;
			margin-bottom: 9px;
		}
		
		.position {
			font-size: 14px;
			font-style: italic;
		}
		
		.description {
			margin-top: 10px;
		}
		
		.social-networks {
			display: none;
		}
	}
}

.tm-team-member-group {
	.swiper-slide {
		@extend %transit2;
	}
}

@include media-breakpoint-up(sm) {
	.tm-team-member-group {
		&.style-carousel_zigzag {
			
			.swiper-slide {
				opacity: .5;
			}
			
			.info {
				display: none;
			}
			
			.swiper-slide-active {
				opacity: 1;
				
				.photo {
					img {
						box-shadow: 29px 50px 52px rgba(0, 0, 0, .13);
					}
				}
				
				.info {
					display: block;
				}
			}
			
			.swiper-slide-next {
				//padding-top: 70px;
				transform: translateY(70px);
				
				+ .swiper-slide {
					//padding-top: 140px;
					transform: translateY(140px);
				}
			}
		}
	}
}
