.vc_progress_bar {
	.vc_single_bar_wrapper {
		padding-bottom: 7px;
		
		+ .vc_single_bar_wrapper {
			margin-top: 39px;
		}
	}
	
	.vc_single_bar_title {
		@extend %clearfix;
		margin-bottom: 17px;
		line-height: 1.33;
		font-size: 18px;
		
		.vc_label_units {
			float: right;
		}
	}
	
	.vc_general {
		&.vc_single_bar {
			height: 3px;
			border-radius: 0;
			box-shadow: none;
			
			.vc_label {
				padding: 0;
			}
			
			.vc_bar {
				border-radius: 0;
			}
		}
	}
	
	.vc_bar {
		&:after {
			position: absolute;
			top: 50%;
			right: -1px;
			width: 18px;
			height: 18px;
			transform: translate(0, -50%);
			background: #ffffff;
			box-shadow: 0 2px 11px rgba(0, 0, 0, .13);
			content: '';
			border-radius: 50%;
		}
	}
	
	&.style-2 {
		.vc_single_bar_title {
			width: 100% !important;
		}
	}
}
