.widget_calendar {
	
	.calendar_wrap {
		overflow-x: auto;
	}
	
	caption {
		font-weight: 700;
		color: #454545;
		margin-bottom: 10px;
		font-size: 14px;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
	
	#today {
		color: #ffffff;
		a {
			color: inherit;
		}
	}
}
