.widget {
	.mc4wp-form {
		position: relative;
		
		input[type=email] {
			border-color: #f8f8f8;
			background-color: #f8f8f8;
			padding: 3px 40px 3px 20px;
			
			&:focus {
				background-color: #ffffff;
			}
		}
		
		button[type=submit] {
			position: absolute;
			top: 0;
			right: 0;
			background: none;
			border: 0;
			font-size: 0;
			height: 48px;
			width: 48px;
			padding: 0;
			
			&:before {
				font-family: 'Ionicons';
				content: '\f474';
				font-size: 24px;
			}
		}
	}
}
