.tm-posts-widget-wrapper {
	&.style-01 {
		.post-item {
			@extend %clearfix;
			display: flex;
			+ .post-item {
				margin-top: 24px;
				padding-top: 24px;
				border-top: 1px solid #f3f3f3;
			}
		}
		
		.post-widget-thumbnail {
			flex-shrink: 0;
			margin-right: 20px;
			width: 80px;
			height: 80px;
			position: relative;
			&:hover {
				.post-widget-overlay {
					visibility: visible;
					opacity: 1;
				}
			}
			img {
				width: 100%;
			}
		}
		
		.post-widget-info {
			flex-grow: 1;
		}
		
		.post-widget-categories {
			margin-bottom: 4px;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 3px;
			
			a {
				font-size: inherit;
				color: inherit;
			}
		}
		
		.post-widget-title {
			font-size: 18px;
			line-height: 1.55;
		}
		
		.post-date {
			font-size: 13px;
			margin-top: 5px;
		}
		
		.post-widget-overlay {
			@extend %transit;
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .6);
			opacity: 0;
		}
		
		.post-overlay-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #ffffff;
			font-weight: 500;
			font-size: 24px;
		}
	}
}
