.tagcloud {
	@extend %clearfix;
	margin: -5px;
	a {
		display: block;
		float: left;
		line-height: 1;
		font-size: 14px !important;
		border-radius: 3px;
		background: #f8f8f8;
		padding: 9px 14px;
		margin: 5px;
		
		&:hover {
			color: #ffffff !important;
		}
	}
}
