.error404 {
	.content-wrapper {
		height: 100%;
		display: table;
		width: 100%;
		text-align: center;
	}
	
	.branding__logo a {
		float: none;
	}
}
	
.error404--header {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	padding: 30px 0;
	
	.admin-bar & {
		top: 32px;
	}
}

.error404--content-wrap {
	padding: 50px 0;
	display: table-cell;
	vertical-align: middle;
}

.error404--title {
	font-size: 56px;
	line-height: 1.28;
	margin: 20px 0 38px;
}

@include media-breakpoint-down(md) {
	.error404--title {
		font-size: 46px;
	}
}

@include media-breakpoint-down(sm) {
	.error404--header {
		padding: 0;
	}
	
	.error404--title {
		font-size: 36px;
	}
}

@include media-breakpoint-down(xs) {
	.error404--title {
		font-size: 26px;
	}
}
